@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  height: 88vh;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: rgb(35, 17, 171);
  font-weight: 100;
  font-size: 5rem;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 0;
}

.bigcont {
  display: flex;
  margin-left: 15%;
  margin-top: 5%;
  gap: 5rem;
}

.leftside {
  display: flex;
  flex-direction: column;
}

.recentscores {
  display: flex;
  justify-content: space-between;
}

.rc {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  width: 300px;
}

.brefresh {
  width: 200px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  height: 50px;
  background-color: rgba(145, 199, 240, 0.5);
}

.brefresh:hover {
  border: 3px solid black;
  background-color: darkkhaki;
}

.brefresh:active {
  border: 5px solid rgb(41, 66, 208);
  background-color: darkkhaki;
}

.scorecards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;
  border: 2px solid #000;
  width: 100%;
  margin-top: 5%;
  overflow-y: scroll;
  height: 300px;
  padding: 0;
}

.scorecards li:nth-child(odd) {
  background-color: rgba(145, 199, 240, 0.7);
}

.scard {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
}

.ays {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  width: 350px;
}

.scores-form {
  display: flex;
  margin-top: 15%;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  gap: 2rem;
}

.scores-form input {
  font-family: 'Press Start 2P', cursive;
  padding: 0.6rem;
  font-size: 14px;
  background-color: rgba(217, 184, 37, 0.3);
  width: 100%;
}

.bsubmit {
  width: 200px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  height: 50px;
  background-color: rgba(165, 28, 26, 0.3);
}

.bsubmit:hover {
  border: 3px solid black;
  background-color: darkkhaki;
}

.bsubmit:active {
  border: 5px solid rgb(41, 66, 208);
  background-color: darkkhaki;
}
